:root {
    --dark-color: #1e1706;
    --light-color: #f2ebdb;
    --main-color: #ffc71d;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    min-width: 100%;
    min-height: 100%;
    margin: 0;
}

.button {
    padding: 1em;
    background-color: var(--dark-color);
    color: var(--light-color);
    cursor: pointer;
}

.debug {
    border: solid 2px red;
}

@font-face {
    font-family: "Moderat";
    src: url("../Moderat-Extended-Regular.otf");
}

@font-face {
    font-family: "Bourbon";
    src: url("../BourbonSt-Regular.ttf");
}
